<div class="row">
    <div class="col-12 mt-5">
        <h3 class="text-center text-uppercase">
            {{user.nombre}}
        </h3>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        <div class="text-center ">
            <img class="perfil-img m-4"
            [src]="user.img ? user.img : 'https://www.sinembargo.mx/assets/img/gravatar.png' "
            [alt]="user.nombre + ' img'">
        </div>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">RFC:</th>
                <td>{{user.rfc}}</td>
              </tr>
              <tr>
                <th scope="row">Correo:</th>
                <td>{{user.correo}}</td>

              </tr>
              <tr>
                <th scope="row" colspan="2" class="text-center">Descripcion:</th>
              </tr>
              <tr>
                  <td colspan="2" class="text-justify">{{user.descripcion}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-4">

    </div>
    <div class="col-12">
        <button type="button" class="btn btn-info" routerLink="/user/">Regresar</button>
    </div>
</div>
