<div class="row">
  <div class="col-12">
    <div class="jumbotron jumbotron-fluid mt-3">
      <div class="container">
        <h1 class="display-4"><span class="text-danger">404!</span> pagina no encontrada :(</h1>
        <p class="lead">Intente buscando otra pagina la que busco no se localiza.</p>
      </div>
    </div>
  </div>
</div>