<div class="row">
    <div class="col-12">
        <h3 class="mt-4"> Tabla de usuarios</h3>
    </div>

    <div class="col-12 mt-5">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="inputFiltro" name="inputFiltro" aria-describedby="emailHelp"
                    placeholder="buscar por RFC" ngModel (ngModelChange)="checarFiltro($event)">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
        </form>
    </div>
    <div class="col-12 mt-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">nombre</th>
                    <th scope="col">rfc</th>
                    <th scope="col">correo</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersFilter">
                    <th scope="row"> {{user.id}} </th>
                    <td>

                        {{user.nombre}}
                    </td>
                    <td>{{user.rfc}}</td>
                    <td>{{user.correo}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info" [routerLink]="['/user/profile/', user.id]">Ver</button>
                            <!-- <button type="button" class="btn btn-secondary">Right</button> -->
                          </div>
                    </td>
                </tr>
                <tr *ngIf="!usersFilter.length">
                    <th colspan="4" class="text-center">Sin usuarios</th>
                </tr>

            </tbody>
        </table>
    </div>
</div>