<div class="row">
    <div class="col-12">
      <h3 class="mt-4"> Tabla de rutas</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputId">Id <span class="text-danger">*</span> </label>
            <input [(ngModel)]="ruta.id" type="text" class="form-control" id="inputId" name="inputId"
              placeholder="Escriba el id de la ruta">
          </div>
          <div class="form-group col-md-4">
            <label for="inputDescripcion">Descripcion <span class="text-danger">*</span> </label>
            <input [(ngModel)]="ruta.descripcion" type="text" class="form-control" id="inputDescripcion"
              name="inputDescripcion" placeholder="Escriba el descripcion de la ruta">
          </div>
          <div class="form-group col-md-4">
            <label for="inputButton" style="opacity: 0;">----</label>
            <button *ngIf="!habEdit" type="button" class="btn btn-primary btn-block" (click)="setRuta()">Agregar</button>
            <button *ngIf="habEdit" type="button" class="btn btn-info btn-block" (click)="editRuta()">Guardar edición</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="habVal" class="col-12">
      <div class="alert alert-danger" role="alert">
        Te hace falta ingresar valores
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-success btn-block" (click)="getRutas()">Actualizar</button>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-12">
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">#id</th>
            <th scope="col" class="w-50">Descripcion</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of rutas">
            <th scope="row">{{r.id}}</th>
            <td>{{r.descripcion}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" (click)="deleteRuta(r.id)">Eliminar</button>
                <button *ngIf="!habEdit || (habEdit && r.id != ruta.id)" type="button" class="btn btn-info" (click)="habEdicion(r)">Editar</button>
                <button *ngIf="habEdit && r.id == ruta.id" type="button" class="btn btn-warning" (click)="canEdicion()">Cancelar editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>